@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=League+Spartan:wght@400&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
    background-color: #111;
    color: rgba(255, 255, 255, 1);
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Light mode styles */
body.light-mode {
    background-color: #fff;
    color: #000;
}

/* You'll also need to override other elements specifically for light mode */
.light-mode .menu a,
.light-mode .menu a:link,
.light-mode .menu a:visited {
    color: #000;
    /* And so on for other elements... */
}

.portfolio-section {
    position: absolute;
    top: 1%;
    /* Adjust as necessary to lower the names */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 2em;
    z-index: 10;
}

.background-name {
    font-size: calc(100vw / 6);
    font-weight: 400;
    color: rgb(66, 57, 57);
    white-space: nowrap;
    user-select: none;
    /*z-index: 1;*/
}

.foreground-name {
    font-size: calc(100vw / 11.5);
    font-weight: 400;
    color: rgba(55, 255, 87, 1);
    margin-top: -1em;
    white-space: nowrap;
    user-select: none;
    z-index: 2;
}

body.light-mode.foreground-name {
    color: rgba(244, 47, 67, 1);
}

.menu {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 2em;
    /* Adjust as necessary to position under the name */
    display: flex;
    justify-content: right;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
    line-height: 14px;    
}

.menu a,
.menu a:link,
.menu a:visited {
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.menu a:hover {
    color: #00ff00;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.case-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.case {
    display: flex;
    /*background-color: #fff;*/
    flex-direction: column;
    align-items: flex-start;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* Ensures no part of the image spills out */
}



.intro-section {
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 70%;
    margin: 10 auto 1em;
    font-size: 1em;
    color: #cac7c7;
    text-align: left;
    position: relative;
    z-index: 5;
    top: 10px
}

.intro-section h2 {
    font-size: 55px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: rgb(202, 198, 198);
    width: 110%;
    margin: 10 auto 0.2em;
    line-height: 1;
    margin-bottom: 0;
}

.intro-section p {
    font-size: 16px;
    color: rgba(202, 199, 199, 1);
    margin-top: 10px;
    line-height: 1.5;
}

.highlight {
    color: rgba(55, 255, 87, 1);
}

.button,
.resume-download,
.send-button {
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #d9d9d9;
    color: rgb(17, 17, 17);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    line-height: 14px;
    text-decoration: none;
    box-shadow: 0px 0px 11.75px #37FF57;
    width: 150px;
}

.send-button {
    width: 180px;
}


.button:hover,
.resume-download:hover,
.send-button:hover {
    background-color: #4e4c4c;
    color: #d9d9d9;
    text-decoration: underline;
}

.buttons-container {
    bottom: 10px;
    left: 110px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 0;
}

.shadow-text {
    text-shadow:
        0px 0px 752.53px #37FF57,
        0px 0px 622.01px #37FF57,
        0px 0px 44.51px #37FF57,
        0px 0px 7.25px #37FF57,
        0px 0px 3.53px #37FF57,
        0px 0px 1.75px #37FF57;
}



.case-studies-container {
    width: 100%;
    margin-bottom: 150px;
}

.case-study {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.case-study.left .case-study-image,
.case-study.right .case-study-image {
    order: 1;
}

.case-study.left .case-study-text,
.case-study.right .case-study-text {
    order: 2;
}

.case-study.left {
    text-align: left;
}

.case-study.right {
    text-align: right;
}

.case-study:nth-child(odd) .case-study-image {
    order: -1;
}

.case-study:nth-child(even) .case-study-image {
    order: 2;
}

.case-study-image {
    width: 49%;
}

.case-study-text {
    position: relative;
    width: 45.5%;
}

.case-study-text h2 {
    margin-top: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #cac7c7;
    /*text-align: left;*/
}

.underline {
    width: 15%;
    height: 3px;
    background-color: #37FF57;
    position: absolute;
    margin-top: -15px;
}

.case-study.left .underline {
    left: 0;
}

.case-study.right .underline {
    right: 0;
}

.case-study-text p {
    color: #cac7c7;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-container h2 {
    margin-top: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #cac7c7;
    text-align: center;
}

.contact-container p {
    color: #cac7c7;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cac7c7;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #dddbdb;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px
}

.social-icons a {
    color: #cac7c7;
    margin: 0 10px;
    text-decoration: none;
}

/* Back to Top Button Styles */
#back-to-top {
    position: fixed;
    bottom: 8%;
    right: 38px;
    width: 25px;
    height: 25px;
    background-image: url('mingcute_up-fill.png');
    background-size: cover;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    /*display: none; */
}

/* Optional: Add transition for smooth display on scroll */
#back-to-top {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    /* Make button transparent initially */
}

/* Display the button when it's active (i.e., when you've scrolled down) */
#back-to-top.active {
    display: block;
    opacity: 1;
}

.case img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This will cover the area without losing aspect ratio */
    display: block;
    /* Removes any extra space at the bottom of the image */
}

.responsive-image {
    max-width: 100%;
    height: auto;
    /*box-shadow: 0px 0px 20px #37ff57   */ 
}


/* Responsive adjustments */
@media (max-width: 800px) {

    .buttons-container {
        padding-left: 0;
        justify-content: center;
    }

    .combined-section {
        align-items: center;
        /* Optional: this would center the text and buttons on small screens */
    }

    .background-name {
        font-size: calc(100vw / 5.7);
        /* Increase size for smaller screens */
    }

    .foreground-name {
        font-size: calc(100vw / 11);
        /* Increase size for smaller screens */
    }

    .menu {
        flex-direction: row;
        gap: 10px;
        margin-top: 1em;
        /* Adjust for smaller screens */
        justify-content: right;
    }

    .buttons-container {
        bottom: 50px;
        /* Adjust button position for smaller screens */
    }

    .intro-section {
        max-width: 100%;
    }

    .intro-section h2 {
        font-size: calc(100vw / 18);
        /* Increase size for smaller screens */
    }

    .case-study {
        flex-direction: column;
    }

    .case-study .case-study-image,
    .case-study .case-study-text {
        order: 1;
        /* Reset the order to the default stacking order */
        width: 100%;
        /* Make the image and text take full width */
    }

    .case-study.left.case-study-text {
        padding-right: 0;
        text-align: left;

    }

    .case-study.right.case-study-text {
        padding-right: 0;
        text-align: right;
    }

    .case-study.case-study-text,
    .case-study-image {
        order: 1;
    }


    .case-study {
        flex-direction: column;
    }

    .case-study-image,
    .case-study-text {
        width: 100%;
        order: 1;
    }

    .case-study.left .underline,
    .case-study.right .underline {
        width: 30%;
    }

    .contact-container h2 {
        font-size: 18px;
    }

    .case-container {        
        align-items: center;       
        padding: 20px;
    }
    

}